<div *ngIf="!userName">
  <div>
    <h1>{{ title }}</h1>
  </div>

  <div>
    <form [formGroup]="triviaForm" (ngSubmit)="startTrivia()">
      <div>
        <label
          >Username
          <input
            type="text"
            placeholder="Your user name"
            formControlName="userName"
          />
        </label>
        <div
          *ngIf="
            !triviaForm.get('userName')?.valid &&
            triviaForm.get('userName')?.touched
          "
        >
          Please add user name
        </div>
      </div>
      <div>
        <select name="category" formControlName="category">
          <option selected hidden>Select Category</option>
          <option *ngFor="let category of categories">
            {{ category }}
          </option>
        </select>
        <div
          *ngIf="
            !triviaForm.get('category')?.valid &&
            triviaForm.get('category')?.touched
          "
        >
          Select valid category
        </div>
      </div>
      <div>
        <select name="difficulty" formControlName="difficulty">
          <option selected hidden>Select Difficulty</option>
          <option *ngFor="let difficulty of difficulties">
            {{ difficulty }}
          </option>
        </select>
        <div
          *ngIf="
            !triviaForm.get('difficulty')?.valid &&
            triviaForm.get('difficulty')?.touched
          "
        >
          Select valid difficulty
        </div>
      </div>
      <div>
        <button type="submit" [disabled]="!triviaForm.valid">
          Let's Play!
        </button>
      </div>
    </form>
  </div>
</div>
<questions [questions]="questions" [userName]="userName"></questions>
